<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("../fotos/atacama_desierto.jpg");
    background-size: 100% 100%;
}
</style>
</head>
<body>

<div class="container">
	<div class="col-lg-4">
		<div class="grey">
			<h1>Editar Usuario</h1>
			<%= render 'form' %> 						
 		</div>			
	</div>
</div>

</body>
</html>


