<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("../fotos/costanera.jpg");
    background-size: 100% 100%;
}
</style>
</head>
<body>

<div class="container" > 

     <div class="col-sm-4">
         <div class="grey">
             <h1>Nuevo Usuario</h1>
             <%= render 'form' %>
         </div>
     </div>
     <div class="col-sm-8">

                    
     </div>
</div>

</body>
</html>







