
<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("../fotos/costanera.jpg");
    background-size: 100% 100%;
}
</style>
</head>
<body>
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<div class="container" > 

     <div class="col-sm-4">
         <div class="grey">
             <h1>Editar Usuario</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Regresar', users_path %>
         </div>
     </div>
     <div class="col-sm-8">

                    
     </div>
</div>

</body>
</html>