<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<title>Sistema de Recomendaciones</title>
	<meta name="description" content="Hello World">
</head>

<body>


 <header>
 <div class="jumbotron">
			<div class="container">
				<h1> Resultados </h1>
			</div> 
		</div> 
 </header>

 <div class="container">
 	<div class="row">
      <div class="col-sm-2">
           <div class="well"><h1>filtros</h1></div>           
      </div>
      <div class="col-md-10">
           <div class="well"><h1>Resultados</h1></div>           
      </div>
    </div>      
 </div>

			
</body>	
</html>
