<div class="col-md-4 custom-row">
	<h1>Nuevo Destino</h1>

	<%= render 'form' %>


</div>

<div class="col-md-2"></div>

<div class="col-md-6 col-md-offset">
    <img src="../fotos/valparaiso1.jpg" id="Valpo" class="img-responsive img-rounded pull-rigth"  >
</div>
