<p>Hello <%= @resource.email %>!</p>

<p>Alguine a solicitado un link para cambio de password. Acceda al link entregado abajo para realizar el cambio.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicito el cambio de password, ingore este email.</p>
<p>Tu clave no cambiare hasta que accedas al siguiente link  y crees una nueva password.</p>
