<% unrated_items = get_unrated_items(current_user) %>

<h3>Lugares recomendados</h3>
<!--<%= user_average_rating(current_user) %>-->

<ul class=recommended-items>
  <% unrated_items.each do |item| %>
    <% if prediction(current_user, item) > 0 %>
      <li>
        <figure>
          <figcaption>
            <strong><%= item.place %></strong>
          </figcaption>
        </figure>
      </li>
        <div class="thumbnail">
          <span><%= link_to (image_tag item.image.url(:medium), class: 'image'), item %></span>
          <td><%= item.Place %></td>
        </div>
    <% end %>
  <% end %>
</ul>

