<div class="col-md-4 custom-row">
	<h1>Editar Destino</h1>

	<%= render 'form' %>
</div>
<div class="col-md-2 "></div>

<div class="col-md-6 col-md-offset">
	<span><%= link_to (image_tag @item.image.url(:custom), class: 'image'), @item %></span>
</div>
