<div class="col-md-4 custom-row">
	<h1>Nuevo Destino</h1>

	<%= render 'form' %>


</div>

<div class="col-md-2"></div>

<div class="col-md-6 col-md-offset">
    <img src="../fotos/Villarrica.jpg" id="Villarrica" class="img-responsive img-rounded pull-rigth"  >
    <div class="caption post-content">
      <h3>Villarrica</h3>
    </div>
</div>